/* Card container */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #744848;
}

/* Card styles */
.card {
  background-color: #8d426b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Card hover animation */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(85, 7, 7, 0.938);
}

/* Card titles */
.card h2 {
  color: #bae51e;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Card paragraphs */
.card p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
